<% if myclass.errors.any? %>
<div class = "alert alert-error">
<p>Please fix the errors : </p>
<ul>
<% myclass.errors.full_messages.each do |error| %>
<li><%= error %></li>
<% end %>
</ul>
<% end %>
</div>